.wa-table-container {
	position: relative;
	overflow-x: auto;
	margin: 1rem 1rem 0 0;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -1px rgb(0 0 0 / 0.06);
}

@media (min-width: 640px) {
	.wa-table-container {
		border-radius: 0.5rem;
	}
}

.wa-table {
	width: 100%;
	font-size: 0.875rem;
	text-align: left;
}

.rtl.wa-table {
	text-align: right;
}

.wa-table th,
.wa-table td {
	padding: 0.9375rem 1.5rem;
}

.wa-table thead {
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #374151;
	background-color: #f9f9f9;
}

.dark.wa-table thead {
	background-color: #374151;
	color: #9ca3af;
}

.wa-table tbody tr {
	background-color: #ffffff;
	border-bottom: 1px solid #e5e7eb;
	transition: background-color 0.15s ease-in-out;
}

.dark.wa-table tbody tr {
	background-color: #1f2937;
	border-bottom-color: #374151;
}

.wa-table tbody tr:hover {
	background-color: #f9f9f9;
}

.dark.wa-table tbody tr:hover {
	background-color: #374151;
}

.wa-table tbody th {
	font-weight: 500;
	color: #111827;
	white-space: nowrap;
}

.dark.wa-table tbody th {
	color: #ffffff;
}

.wa-table a {
	font-weight: 500;
	color: #2563eb;
	text-decoration: none;
	transition: text-decoration 0.15s ease-in-out;
}

.dark.wa-table a {
	color: #3b82f6;
}

.wa-table a:hover {
	text-decoration: underline;
}

.wa-alert {
	display: flex;
	padding: 1rem;
	margin: 1rem 1rem 0 0;
	font-size: 0.875rem;
	color: #60a5fa;
	border-radius: 0.5rem;
	background-color: #27303b;
}

.wa-alert-icon {
	flex-shrink: 0;
	width: 1rem;
	height: 1rem;
	margin-right: 0.75rem;
	margin-top: 0.125rem;
}

.wa-alert-title {
	font-weight: 500;
}

.wa-alert-list {
	margin-top: 0.375rem;
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 1.25rem;
}

.wa-button {
	color: #edeff3;
	background-color: #1d4ed8;
	font-weight: bold;
	border-radius: 0.5rem;
	font-size: 0.7rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.525rem;
	padding-bottom: 0.525rem;
	text-align: center;
	transition: background-color 0.15s ease-in-out;
	border: solid 1px #2563eb;
	cursor: pointer;
	margin: 0;
}

.wa-button:hover {
	background-color: #0c215a;
	border-color: #98aadb;
	outline: none;
	box-shadow: 0 0 0 0.15rem #98aadb;
}

.wa-button:focus {
	outline: none;
	box-shadow: 0 0 0 0.25rem #3b82f6;
}

.wa-spinner-wrapper {
	display: none;
}

.loading-spinner {
	width: 1.5rem;
	height: 1.5rem;
	color: #4b5563;
	animation: spin 1s linear infinite;
	fill: #2563eb;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
