{
    "extends": [
        "plugin:@wordpress/eslint-plugin/recommended",
        "prettier"
    ],
    "rules": {
        "no-console": "off",
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            },
            {
                "printWidth": 120
            }
        ]
    },
    "globals": {
        "waOtavioSerraPlugin": "readonly",
        "wpApiSettings": "readonly"
    }
}