{
    "extends": [
        "plugin:@wordpress/eslint-plugin/recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    }
}